body{
    margin: 0;
    display: flex;
    background-color: rgb(25, 25, 27);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    overflow-x:hidden;
}

/*__________________________________HEADER__________________________________*/

header{
    width: 100vw;
    height: 10.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.logo{
    width: 9vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
img{
    height: 4vh;
}
.logo p{
    font-size: 4vh;
}
.menu{
    width: 37.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: Lato normal, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
header button{
    background-color: rgb(25, 25, 27);
    color: white;
    width: 11vw;
    height: 4.3vh;
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
}

/*__________________________________SECTION_1__________________________________*/

#first{
    width: 100vw;
    height: 69.6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#first div{
    width: 42.5vw;
    height: 69.6vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
#first h1{
    color: #FFF;
    font-family: Lato normal, serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 84px; /* 105% */
}
#first>div>p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato normal, serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}
#first img{
    height: 69.6vh;
}
#first div button{
    width: 204px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #5454D4;
    color: white;
}

/*__________________________________SECTION_1__________________________________*/
#second{

}