@media screen and (max-width: 480px) and (min-width: 200px){
    .A{
        width: 98vw;
        height: 15vh;
    }
    .B_C{
        flex-direction: column;
    }
    .B{
        width: 98vw;
        height: 65vh;
    }
    .C{
        margin-top: 1vh;
        width: 98vw;
        height: 15vh;
    }
}