body{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ex_1>ul>li:nth-child(odd){
    color: pink;
}
.ex_2>ul>li:nth-child(even){
    font-size: 22px;
}
.ex_3>ul>li:nth-child(2n+4)::after{
    font-size: 22px;
    content: "!";
}

.ex_4>ul>li:last-child{
    color: purple;
}
.ex_5>ul>li:first-letter{
    font-size: 30px;
    color: red;
}