@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.content{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row ;
}
.content_2{
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20vh;
    font-family: 'Lato', sans-serif;
}
h1{
    display: flex;
    font-size: 6vh;
}
.cards{
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 5vh;
}

.card{
    width: 15vw;
    height: 20vh;
    border: 5px solid #0F5944;
    border-radius: 10px;
    padding: 2% 8%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.card_2{
    margin-left: 2vw;
}

h2{
    display: block;
}
a{
    color: black;

}

p{
    margin-top: -1vh;
    font-size: 120%;
}
