
body{
    margin: 0 auto;
}
.main{
   
}
.conteiner{
   width: 100vw;
   height: 60vh;
   display: flex;
   align-items: center;
   flex-direction: row;
}
.in{
    width: 20vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}
header{
    background-color: #D9D9D9;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #BDBDBD;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fir{
    background-color: #5E5050;
}
#sec{
    background-color: #817C7C;
}
#thi{
    background-color: #696464;
}
#four{
    background-color: #4E4949;
}
#fif{
    background-color: #776C6C;
}