
body{
    margin: 0 auto;
}
.main{
   
}
.conteiner{
   width: 100vw;
   height: 60vh;
   display: flex;
   align-items: center;
   flex-direction: row;
}
.in{
    
}
header{
    background-color: #927D7D;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #BDBDBD;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    background-color: #A74848;
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side{
    background-color: #CCC;
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    background-color: #B7AEAE;
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
