
body {
    margin: 0 auto;
}
.conteiner{
   width: 100vw;
   height: 59vh;
   display: flex;
   align-items: center;
   flex-direction: row;
}

header{
    background-color: #9B6F6F;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #524B4B;
    width: 100vw;
    height: 21vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    background-color: #8A8484;
    width: 35vw;
    height: 59vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{

    width: 34vw;
    height: 59vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right{
    background-color: #C0B3B3;
    width: 31vw;
    height: 59vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top{
    background-color: #D9D9D9;
    width: 34vw;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mid{
    background-color: #AA9898;
    width: 34vw;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bot{
    background-color: #C5BBBB;
    width: 34vw;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}